header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #303030;
    padding: 10px;
    display: flex;
    justify-content: center; /* Center the nav-buttons container */
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.user-section {
    position: absolute; /* Position the user-section absolutely */
    right: 20px; /* Move it away from the right border */
    display: flex;
    gap: 10px;
}
