   .tournament-container {
     text-align: center;
     padding: 20px;
   }

   .tournament-content {
     display: flex;
     justify-content: space-between;
     margin-top: 20px;
   }

   .left-column {
     flex: 1;
     padding: 20px;
     margin-right: 10px;
   }

   .right-column {
     flex: 1;
     padding: 20px;
   }

   .tournament-content>div {
     width: 48%;
   }

   .start-button {
     background-color: #4CAF50;
     color: white;
     padding: 10px 20px;
     border: none;
     border-radius: 5px;
     font-size: 16px;
     cursor: pointer;
     margin-top: 20px;
   }

   .start-button:hover {
     background-color: #45a049;
   }

   .match-display p {
     font-size: 18px;
     font-weight: bold;
   }

   .error-message {
     color: red;
     margin-top: 10px;
   }